.audio-awaiter
  .grid.col.maw-600.no-shrink
    .grid.elem.col
      h1.audio-awaiter__header Про звук
    .grid.elem.col
      p.audio-awaiter__message
        | Звук в приложении начнёт воспроизводиться только после того, как вверху экрана заполнится зеленая полоска  — загрузятся и распакуются все аудиофайлы.
        br
        br
        | Но крутить ручки можно прям сразу, не дожидаясь полной загрузки.<br/><br/>
    .grid.elem.col
      button.greenish.audio-awaiter__close-button Понятненько
