.audio-awaiter
  .grid.col.maw-600.no-shrink
    .grid.elem.col
      h1.audio-awaiter__header Про звук
    .grid.elem.col
      p.audio-awaiter__message
        | Звук в приложении начнёт воспроизводиться только после того как в фоновом режиме загрузятся (10 МБ) и распакуются аудиофайлы — вверху экрана заполнится зеленая полоска.
        br
        br
        | Крутить ручки можно прям сразу.<br/><br/>
    .grid.elem.col
      button.audio-awaiter__close-button Да понятно, давай уже!
