.audio-awaiter
  .grid.col.maw-600.no-shrink
    .grid.elem.col
      h1.audio-awaiter__header Эппл такой эппл...
    .grid.elem.col
      p.audio-awaiter__message Ввиду особой заботы, инженеры Apple решили, что web-audio в iOS не имеет права воспроизводить никаких звуков до тех пор, пока пользователь сам руками не нажмёт на кнопку. В общем, вот эта кнопка:
    .grid.elem.col
      button.audio-awaiter__close-button Включить web-audio
