.audio-awaiter
  .grid.col.maw-600.no-shrink
    .grid.elem.col
      h1.audio-awaiter__header Web-audio в браузере
    .grid.elem.col
      p.audio-awaiter__message Некоторые браузеры (новый Chrome, Safari) не разрешают проигрывать звук с помощью web-audio, пока пользователь сам руками не нажмёт на кнопку. В общем, вот эта кнопка:
    .grid.elem.col
      button.audio-awaiter__close-button Включить web-audio
