.faq
  .grid.col.cont
    .grid.col.elem
      h3 Что это такое и зачем это нужно?
      p Честно говоря, я сам не понимаю. Сначала я хотел сделать «wi-fi-гирлянду», но немного увлекся. Получился новогодний скринсейвер. Или музыкальная шкатулка. Или глючная штуковина, для добавления волшебства :-)
    .grid.col.elem
      h3 Сеть
      p
        | Приложение может работать в локальном и
        =' '
        a(href="#connector") сетевом режиме
        |. Для
        =' '
        a(href="#connector") сетевого режима
        =' '
        | желательно хорошее подключение (Wifi, 4G), зато можно объединить все гаджеты, что есть под рукой, компьютеры, ноутбуки, и устроить настоящее представление. В теории. По факту, из-за того, что сервер еле дышит, может выйти фигня. Главное, перед этим задержку звука на каждом устройстве нужно постараться
        =' '
        a(href="#audio-sync") синхронизировать
        |.
    a.grid.col.elem.faq__expander-toggle(href='javascript:void(0);') Показать ещё...
    .faq__expander
      .grid.col.elem
        h3 Что это такое и зачем это нужно?
        p Честно говоря, я сам не понимаю. Сначала я хотел сделать «wi-fi-гирлянду», но немного увлекся. Получился новогодний скринсейвер. Или музыкальная шкатулка. Или глючная штуковина, для добавления волшебства :-)
      .grid.col.elem
        h3 Что это такое и зачем это нужно?
        p Честно говоря, я сам не понимаю. Сначала я хотел сделать «wi-fi-гирлянду», но немного увлекся. Получился новогодний скринсейвер. Или музыкальная шкатулка. Или глючная штуковина, для добавления волшебства :-)
