.faq
  .grid.col.cont
    .grid.col.elem
      h3 Что это такое и зачем это нужно?
      p Что-то среднее между скринсейвером, wi-fi-гирляндой и музыкальной шкатулкой. Можно выключить звук и использовать просто как статичную заставку для иллюминации. А можно залипнуть, крутя ручки, управляя и анимацией, и звуком.
    .grid.col.elem
      h3 За что отвечает и как работает каждая крутилка?
      p Снизу-слева можно нажать на её название и тогда откроется краткое описание.
    .grid.col.elem
      h3 Сеть
      p
        | Приложение может работать в локальном и
        =' '
        a(href="#connector") сетевом режиме
        |. В
        =' '
        a(href="#connector") сетевом режиме
        =' '
        | (желательно с хорошим подключением: Wi-Fi, 4G) можно объединить все гаджеты, что есть под рукой, компьютеры, ноутбуки, и устроить звукосветовое представление с нескольких источников. Или прямо-таки музыкальный сейшн в компании друзей. Главное предварительно
        =' '
        a(href="#audio-sync") синхронизировать задержку звука
        | на каждом устройстве..
    a.grid.col.elem.faq__expander-toggle(href='javascript:void(0);')
      span.faq__expander-toggle-text.faq__expander-toggle-text--show
        | Показать ещё вопросы и ответы...
      span.faq__expander-toggle-text.faq__expander-toggle-text--hide
        | Скрыть вопросы и ответы...
    .faq__expander
      .grid.col.elem
        h3 О синхронизации задержки звука на устройстве
        p Дело в том, что на каждом устройстве звук проигрывается с некоторой задержкой (в среднем 10-200 мсек). Для обычных приложений (и даже для игр) это не является большой проблемой, однако в данном случае задержка имеет значение. Эта задержка отличается от устройства к устройству, и ее невозможно определить программно. Но её несложно настроить: переместите ползунок «Задержка звука» в настройках в положение, когда вспышки на видео будут происходить синхронно со звуком. Особенно это становится важным, если вы объединяете несколько устройств по сети.
      .grid.col.elem
        h3 Рассинхрон и задержки в сетевом режиме
        p В сетевом режиме, помимо задержки в аудиокарте, появляется задержка, связанная со… скоростью света. Тот самый ping – время за которое сигнал идет до сервера и обратно. Эта задержка автоматически высчитывается (и пересчитывается время от времени) и не должна влиять на работу, однако из-за нестабильной (или несимметричной) связи, задержка может «гулять», доставляя неудобство. Если у вас возникли проблемы с синхронизацией в сетевом режиме: сначала убедитесь, что на всех устройствах правильно настроена задержка аудиотракта (это лучше сделать локально, до использования сетевого режима). Затем, после подключения, если проблема осталась, попробуйте вызвать перерасчет сетевых задержек (в верхнем меню, кликнув на полоску вверху экрана).
      .grid.col.elem
        h3 Как сделать, чтобы экран не гас, если устройством не управляешь?
        p К сожалению (или к счастью), web-приложение не в состоянии повлиять на это. Можно только вручную, в соответствующих настройках ОС отключить «засыпание» экрана.
      .grid.col.elem
        h3 Мой телефон/планшет/ноутбук греется
        p Попробуйте уменьшить количество частиц. В сетевом режиме можно уменьшить их вплоть до 0. По идее, на минимальных настройках греться не должно. Если это всё же происходит - не стоит мучать железку. Мы за бережное отношение к киборгам.
      .grid.col.elem
        h3 У меня на телефоне/планшете/ноутбуке ничего не работает
        p Для работы приложения нужно, чтобы браузер поддерживал WebGl, WebAudio. Возможно на вашем устройстве это недоступно.
