doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/app.css')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0')
  body
    block content
    //script(src='/socket.io/socket.io.js')
    script(src='/js/jquery-3.2.1.min.js')
    //script(src='https://webglfundamentals.org/webgl/resources/m4.js')
    script(src='js/gl-matrix.js')
    script(src='/js/app.js')