extends layout

block content
  .app
    include includes/preloadAwaiter.pug
    .app__layer
      .holo
        .holo__canvas-wrapper
          canvas.holo__canvas
      .content.content--pre
        .spacer-4


      .snow-stencil
      .content.content--top
        .grid.col.elem.gh
          //grid root
          .grid.col.al-it-ce
            .grid.col.full.maw-600
              .grid.col.elem
                .spacer
                h1 snowtime.fun
                .spacer
                include includes/faq.pug
              .grid.col.elem
                //.debug-bratio-fn-renderer
                .spacer-2
                button.blueish#button-fullscreen На полный экран
              .grid.col.elem
                include includes/options.pug
      .content.content--main
        .grid.col.elem.gh
          //grid root
          .grid.col.al-it-ce
            .grid.col.full.maw-600
              .dashboard
                .grid.col.elem.--simple-only
                  .beat-time-display-spacer
                .grid.col.elem.--complex-only
                  .beat-time-display
                .grid.col.elem.--complex-only
                  .remoted-cirpad#remoted-cirpad--power
                    .cirpad.cirpad--hor
                      .cirpad__pad-outer
                        .cirpad__pad-inner
                          .cirpad__handle
                            .cirpad__handle-peep
                      .cirpad__sub
                        .cirpad__sub-element
                          a.cirpad__info-link(href='javascript:void(0);')
                            | Polyforte
                        .cirpad__sub-element
                          //a.remoted-cirpad__button.remoted-cirpad__button--autopilot.remoted-cirpad__button--active(href='javascript:void(0);')
                            | Автопилот
                          a.remoted-cirpad__button.remoted-cirpad__button--receive(href='javascript:void(0);')
                            | С сервера
                          a.remoted-cirpad__button.remoted-cirpad__button--send(href='javascript:void(0);')
                            | На сервер
                .grid.col.elem
                  .remoted-cirpad#remoted-cirpad--haze
                    .cirpad.cirpad--rect
                      .cirpad__pad-outer
                        .cirpad__pad-inner
                          .cirpad__handle
                            .cirpad__handle-peep
                      .cirpad__sub
                        .cirpad__sub-element
                          a.cirpad__info-link(href='javascript:void(0);')
                            | Snowpad
                        .cirpad__sub-element
                          //a.remoted-cirpad__button.remoted-cirpad__button--autopilot.remoted-cirpad__button--active(href='javascript:void(0);')
                            | Автопилот
                          a.remoted-cirpad__button.remoted-cirpad__button--receive(href='javascript:void(0);')
                            | С сервера
                          a.remoted-cirpad__button.remoted-cirpad__button--send(href='javascript:void(0);')
                            | На сервер
                .grid.col.elem.--complex-only
                  .remoted-cirpad#remoted-cirpad--devuno
                    .cirpad.cirpad--hor
                      .cirpad__pad-outer
                        .cirpad__pad-inner
                          .cirpad__handle
                            .cirpad__handle-peep
                      .cirpad__sub
                        .cirpad__sub-element
                          a.cirpad__info-link(href='javascript:void(0);')
                            | Delair
                        .cirpad__sub-element
                          //a.remoted-cirpad__button.remoted-cirpad__button--autopilot.remoted-cirpad__button--active(href='javascript:void(0);')
                            | Автопилот
                          a.remoted-cirpad__button.remoted-cirpad__button--receive(href='javascript:void(0);')
                            | С сервера
                          a.remoted-cirpad__button.remoted-cirpad__button--send(href='javascript:void(0);')
                            | На сервер

                .grid.col.elem.--complex-to-end
                  .remoted-cirpad#remoted-cirpad--devqua
                    .cirpad.cirpad--hor
                      .cirpad__pad-outer
                        .cirpad__pad-inner
                          .cirpad__handle
                            .cirpad__handle-peep
                      .cirpad__sub
                        .cirpad__sub-element
                          a.cirpad__info-link(href='javascript:void(0);')
                            | Intencio
                        .cirpad__sub-element
                          //a.remoted-cirpad__button.remoted-cirpad__button--autopilot.remoted-cirpad__button--active(href='javascript:void(0);')
                            | Автопилот
                          a.remoted-cirpad__button.remoted-cirpad__button--receive(href='javascript:void(0);')
                            | С сервера
                          a.remoted-cirpad__button.remoted-cirpad__button--send(href='javascript:void(0);')
                            | На сервер

                .grid.col.elem.--simple-to-end
                  .remoted-cirpad#remoted-cirpad--devtre
                    .cirpad.cirpad--circle
                      .cirpad__pad-outer
                        .cirpad__pad-inner
                          .cirpad__handle
                            .cirpad__handle-peep
                      .cirpad__sub
                        .cirpad__sub-element
                          a.cirpad__info-link(href='javascript:void(0);')
                            | Colorama
                        .cirpad__sub-element
                          //a.remoted-cirpad__button.remoted-cirpad__button--autopilot.remoted-cirpad__button--active(href='javascript:void(0);')
                            | Автопилот
                          a.remoted-cirpad__button.remoted-cirpad__button--receive(href='javascript:void(0);')
                            | С сервера
                          a.remoted-cirpad__button.remoted-cirpad__button--send(href='javascript:void(0);')
                            | На сервер

                //.grid.col.elem
                  .remoted-cirpad#remoted-cirpad--devdos
                    .cirpad.cirpad--hor
                      .cirpad__pad-outer
                        .cirpad__pad-inner
                          .cirpad__handle
                            .cirpad__handle-peep
                      .cirpad__sub
                        .cirpad__sub-element
                          | Metrohat
                        .cirpad__sub-element
                          //a.remoted-cirpad__button.remoted-cirpad__button--autopilot.remoted-cirpad__button--active(href='javascript:void(0);')
                            | Автопилот
                          a.remoted-cirpad__button.remoted-cirpad__button--receive(href='javascript:void(0);')
                            | С сервера
                          a.remoted-cirpad__button.remoted-cirpad__button--send(href='javascript:void(0);')
                            | На сервер

                //.grid.col.elem
                  .remoted-cirpad#remoted-cirpad--devqui
                    .cirpad.cirpad--circle
                      .cirpad__pad-outer
                        .cirpad__pad-inner
                          .cirpad__handle
                            .cirpad__handle-peep
                      .cirpad__sub
                        .cirpad__sub-element
                          a.cirpad__info-link(href='javascript:void(0);')
                            | devqui
                        .cirpad__sub-element
                          //a.remoted-cirpad__button.remoted-cirpad__button--autopilot.remoted-cirpad__button--active(href='javascript:void(0);')
                            | Автопилот
                          a.remoted-cirpad__button.remoted-cirpad__button--receive(href='javascript:void(0);')
                            | С сервера
                          a.remoted-cirpad__button.remoted-cirpad__button--send(href='javascript:void(0);')
                            | На сервер


              //.grid.col.elem
              //  .spacer-2
              //.grid.col.elem
              //  h1 Диагностика задежек
              //  p.lead для разработки
              //.grid.col.elem
              //  h3 Клиент-серверные задержки
              //  .debug-display.debug-display--lag-display
              //.grid.col.elem
              //  h3 Задержки внутренних таймеров
              //  .debug-display.debug-display--diff-display
              .grid.col.elem
                .spacer-bottom
      .cut-here пустой экран
      .spaceview
      .cut-here
      .content.content--post
        .grid.col.elem.gh
          //grid root
          .grid.col.al-it-ce
            .grid.col.full.maw-600
              .grid.col.elem
                .spacer-2
                h1#connector Подключение к серверу
                p.lead сетевой режим
              .grid.col.elem
                p Объединение устройств в ансамбль, позоляет синхронизровать их и управлять ими с одного устройства. Введите одинаковое название комнаты и пароль на всех устройствах. И всё готово.
                .connector
                  .form-line
                    label сервер
                    select.connector__server
                      //option(value='http://localhost:2020') Локалхост 2020
                      option(value='http://fra1.sio.snowtime.fun:2020', selected=true) Сервер во Франкфурте
                      option(value='http://ams1.sio.snowtime.fun:2020') Сервер в Амстрердаме
                      option(value='http://lon1.sio.snowtime.fun:2020') Сервер в Лондоне
                    input.connector__server
                  .form-line
                    label навание комнаты
                    input.connector__roomname
                  .form-line
                    label пароль
                    input.connector__password
                  .form-line.form-line--no-label
                    button.connector__connect подключиться
                .spacer-2
      include includes/statusbar.pug
      include includes/gritter.pug
    include includes/audioAwaiter.pug
    include includes/errorer.pug
    include includes/informer.pug