.faq {
  .faq__expander {
    //display: flex;
    display: none;
    flex-direction: column;
    max-height: 0;
    transition: max-height 1s;
    &.faq__expander--expanded {
      display: flex;
      flex-direction: column;
      max-height: 1000px;
    }
  }
  .faq__expander-toggle-text {
    &.faq__expander-toggle-text--hide {
      display: none;
      &.faq__expander-toggle-text--expanded {
        display: block;
      }
    }
    &.faq__expander-toggle-text--show {
      display: block;
      &.faq__expander-toggle-text--expanded {
        display: none;
      }
    }
  }
}