.options {
  .options__expander {
    //display: flex;
    display: none;
    flex-direction: column;
    max-height: 0;
    transition: max-height 1s;
    &.options__expander--expanded {
      display: flex;
      flex-direction: column;
      max-height: 2000px;
    }
  }
  a.options__expander-toggle {
    text-decoration: none;
    text-align: center;
  }
  .options__expander-toggle-text {
    border-bottom: 1px dashed #fff;
    &.options__expander-toggle-text--hide {
      display: none;
      &.options__expander-toggle-text--expanded {
        display: inline;
      }
    }
    &.options__expander-toggle-text--show {
      display: inline;
      &.options__expander-toggle-text--expanded {
        display: none;
      }
    }
  }
}